
body {
    font-family:'Playfair Display',serif;
    margin: 0;
    padding: 0;
    text-align: center;

    background-image: url('background3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


header {
 
   color:black;
   font-size: 24px;
   padding: 20px;
  
   box-sizing: border-box;
}
@keyframes slideUp {
    0% {
        opacity: 0; 
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

h1 {
    font-size: 40px;
    color: white;
    animation: slideUp 1.5s ease-out; 
}
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}
p{
    font-size: 16px;
    text-align: center;
    color:white;
}
.p3{
    font-size: 16px;
    margin-bottom:30px;
    color:white;
    font-weight: bold;
    text-align:center;
}
.button-container{
    display:flex;
    gap:20px;
    justify-content: center;
    margin-top:30px;
}
.link-style {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-top: 30px;  
    justify-content: center;
    animation: slideUp 2.5s ease-out;
    background: #f39c12;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Playfair Display',serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
    
}
.recipe-link, 
#fetchRecipeBtn {
    display: inline-block;
    background: #f39c12;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    text-align: center;
}

.recipe-link:hover, 
#fetchRecipeBtn:hover {
    background: #e67e22;
}
#randomRecipeResult {
    color: white; 
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}


.p2 {
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    display: block;
}


main {
    padding: 20px;
}

